*.egg-info/
*.egg/
*.so
*.o
build/
dist/
.vscode/
*.pdb

MANIFEST
*.py[cod]
*.idea

# testing
*.ann
*.tree
*.annoy
*.idx
*.hdf5

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

include

AnnoyConfig.cmake

### CMake Patch ###
# External projects
*-prefix/
